@font-face {
    font-family: Bungee-Regular;
    src: url(/Font/Bungee-Regular.ttf);

}

@font-face {
    font-family: PalanquinDark-Regular;
    src: url(/Font/PalanquinDark-Regular.ttf);
}
 
* {       
        border: darkcyan;
      padding: auto; margin:auto;
    box-sizing: border-box; 
}

 div.main{
    align-items: center;
    display: flex;
    box-sizing: border-box;
  }

div.content-title{
    width: 650px;   
    right: 100px; 
}

div.content-1-title,div.title-project{    
  font-family: Bungee-Regular;
}
div.title-project{
text-align: start;
margin-left: 110px;
}

div.content-2-title,div.main-about{
  font-family: PalanquinDark-Regular;
}
div.main-about{
  display: block;
  text-align: center;
}
img.my-image{
  border-radius: 50%;
  width: 200px;
}

div.social{
display: grid;
grid-template-columns: 50px 50px 50px;
width: fit-content;
position: relative;
left: 150px;
 /* top: auto;*/
}
img.social-img{
   height: 40px;
}
/* --------------------------------------------------------- */

div.project-contatiner{
position: relative;
top: 80px;  

}

div.card{
  margin-bottom: 20px;
}
div.card-deck{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 20px;
  flex-direction: row;
  padding: 0 200px;
   
}   

a.card-link{
  text-decoration: none;
  color: black;
}

div.content{
  padding: auto;
  margin: 50px 10px;
}
/* --------------------------------------------------------- */

@media (max-width: 768px) { 
  div.social{ text-align: center;
      left: auto; top: 30px;}
       
    div.content-title{
      right: auto;
      position: relative;
      text-align: center;
      top: 30px;
      height: auto;
      width: auto;}

    div.main{
     display: block;}

    div.image-contatiner{
    display: flex;     }

    div.content-1-title{
     width: 200px;}

  div.content-1-project{ 
      margin-left: auto;width: fit-content;
  }
div.title-project{
  text-align: center;
  margin-left: 0px;

}
  div.card-deck{
      display: block;
      top: 20px; 
      padding: 0px;

      }      
}     