@font-face {
    font-family: Bungee-Regular;
    src: url(/Font/Bungee-Regular.ttf);

}

@font-face {
    font-family: PalanquinDark-Regular;
    src: url(/Font/PalanquinDark-Regular.ttf);
}

* { 
    scroll-behavior: smooth;
    padding: auto;
    margin:auto;
    box-sizing: border-box;
}

div.main{
      align-items: center;
      display: flex;
      box-sizing: border-box;
    }
div.content-title{
    width: 650px;
    text-align:start; 
    position: relative;
    right: 100px;

}
div.content-1-title,div.content-1-project{    
    font-family: Bungee-Regular;
    display: inline-block;
}
div.content-1-project{
    position: relative;
    left: 100px;
}
div.content-2-title{
    font-family: PalanquinDark-Regular;

}
img.my-pic{
    border-radius: 50%;
    width: 13%;
}
 
div.social{
display: flex;
flex-direction: row;
  width: 10%;
  position: relative;
  left: 150px;
  top: auto;
}
img.social-img{
    height: 40px;
 }
/* --------------------------------------------------------- */

div.project{
position: relative;
top: 80px;  
}

div.card-list{
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
    top: 20px;
}
 
a.card-link{
    text-decoration: none;
    color: black;
}

div.content{
    padding: auto;
    margin: 50px 10px;
}
